#############
## Python
#############

*.py[co]
*.egg-info
build/
*.eggs
dist/
.cache/
.DS_STORE
*__pycache__*

#############
## Emacs
#############

*~

#############
## C
#############

storm_analysis/c_libraries/*.o

#############
# Linux C
#############
storm_analysis/c_libraries/*.so
storm_analysis/c_libraries/*.so.1.0.1

#############
## SCONS
#############
*.os
.sconsign.dblite

#############
## Matlab
#############
*.asv

#############
## Test output files
#############
storm_analysis/test/output/

# A few things get written to the current working directory rather than to
# test/output, so they turn up wherever pytest was started from.
psf.tif
l1h_psf.tif
pupil_fn_psf.tif

#############
## Diagnostics output files
#############

# The diagnostics build their simulated movies and analysis results in the
# directory they are run from. That is meant to be a separate working
# directory (see diagnostics/README.txt), but running them in place leaves
# all of this behind.
storm_analysis/diagnostics/*/test_[0-9][0-9]/
storm_analysis/diagnostics/*/slurm_test/
storm_analysis/diagnostics/*/*.dax
storm_analysis/diagnostics/*/*.hdf5
storm_analysis/diagnostics/*/*.inf
storm_analysis/diagnostics/*/*.map
storm_analysis/diagnostics/*/*.map.png
storm_analysis/diagnostics/*/*.npy
storm_analysis/diagnostics/*/*.pfn
storm_analysis/diagnostics/*/*.psf
storm_analysis/diagnostics/*/*.spline
storm_analysis/diagnostics/*/*.tif
storm_analysis/diagnostics/*/*.xml
storm_analysis/diagnostics/*/*.txt

# ... except the two results files that are checked in.
!storm_analysis/diagnostics/*/*_results.txt

#############
## Windows build files.
#############
storm_analysis/c_libraries/apply-drift-correction.dll
storm_analysis/c_libraries/avemlist.dll
storm_analysis/c_libraries/cubic_fit.dll
storm_analysis/c_libraries/cubic_spline.dll
storm_analysis/c_libraries/dao_fit.dll
storm_analysis/c_libraries/dbscan.dll
storm_analysis/c_libraries/draw_gaussians.dll
storm_analysis/c_libraries/fista_decon_utilities.dll
storm_analysis/c_libraries/fista_fft.dll
storm_analysis/c_libraries/fitz.dll
storm_analysis/c_libraries/frc.dll
storm_analysis/c_libraries/grid.dll
storm_analysis/c_libraries/homotopy_general.dll
storm_analysis/c_libraries/homotopy_ia_sse.dll
storm_analysis/c_libraries/homotopy_ia_storm.dll
storm_analysis/c_libraries/homotopy_sse.dll
storm_analysis/c_libraries/homotopy_storm.dll
storm_analysis/c_libraries/ia_utilities.dll
storm_analysis/c_libraries/libapply-drift-correction.a
storm_analysis/c_libraries/libavemlist.a
storm_analysis/c_libraries/libcubic_fit.a
storm_analysis/c_libraries/libcubic_spline.a
storm_analysis/c_libraries/libdao_fit.a
storm_analysis/c_libraries/libdbscan.a
storm_analysis/c_libraries/libdraw_gaussians.a
storm_analysis/c_libraries/libfista_decon_utilities.a
storm_analysis/c_libraries/libfista_fft.a
storm_analysis/c_libraries/libfitz.a
storm_analysis/c_libraries/libfrc.a
storm_analysis/c_libraries/libgrid.a
storm_analysis/c_libraries/libhomotopy_general.a
storm_analysis/c_libraries/libhomotopy_ia_sse.a
storm_analysis/c_libraries/libhomotopy_ia_storm.a
storm_analysis/c_libraries/libhomotopy_sse.a
storm_analysis/c_libraries/libhomotopy_storm.a
storm_analysis/c_libraries/libia_utilities.a
storm_analysis/c_libraries/libmatched_filter.a
storm_analysis/c_libraries/librolling_ball_lib.a
storm_analysis/c_libraries/libscmos_utilities.a
storm_analysis/c_libraries/libtracker.a
storm_analysis/c_libraries/libzernike.a
storm_analysis/c_libraries/matched_filter.dll
storm_analysis/c_libraries/rolling_ball_lib.dll
storm_analysis/c_libraries/scmos_utilities.dll
storm_analysis/c_libraries/tracker.dll
storm_analysis/c_libraries/zernike.dll
