#############
## Python
#############

*.py[co]

#############
## Emacs
#############

*~

#############
## C
#############

*.o
*.dll
*.so
*.so.1.0.1

#################
## Matlab
#################
*.asv
